* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffbf00;
    height: 100vh;
    display: flex;
    justify-content: center;
}

canvas {
    height: 600px;  
    width: 600px;
    margin: 10px;
    text-align: center;
    border: 10px solid #f7347a;
}

h1 {
    position: absolute;
    bottom: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: bold;
}
